body {
	padding-top: 70px;
	padding-bottom: 70px;
}

a.navbar-brand {
	display: block;
	height: 50px;
	width: 241px;
	background: url("/ThemaOpdracht5/elements/images/logogearauctions3.png")
		0 0 no-repeat;
	float: left;
}

a.navbar-brand:hover {
	background-position: -241px 0;;
}

.navtotop {
	box-shadow: 3px 3px 6px -2px #ccc;
	border-bottom: 1px solid #ccc;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.middle {
	text-align: center;
	width: 800px;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity :   0);
	opacity: 0;
	z-index: 2;
}

.regform form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-allign: left;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.alert ul {
	padding-left: 20px;
}

.contentTop{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.my-button {
	width: 150px;
	height: 34px;
}

.headerbuttons {
	margin-top: 7px;
}

.user-search ul {
	margin: 0;
	padding: 0;
}

.user-search ul li {
	float: left;
	margin-left: 5px;
	margin-bottom: 10px;
	display: block;
}
table thead{
	font-weight: bold;
}

.regbutton {
	margin-right: 10px;
}

.regbutton2 {
	margin-left: 15px;
}

.add-on .input-group-btn>.btn {
	border-left-width: 0;
	left: -2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.factlabel {
	margin-left: 35px;
}

.gegevbutton {
	margin-left: 15px;
}

.gevaanpassen {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
/* Index Page Images */
.Categoryimages {
	padding-top: 6px;
}

#antiek a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-antiek.jpg") 0
		0 no-repeat;
	float: left;
}

#antiek a:hover {
	background-position: -225px 0;
}

#antiek a:active {
	background-position: -450px 0;
}

#boeken a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-boeken.jpg") 0
		0 no-repeat;
	float: left;
	margin-left: 5px;
}

#boeken a:hover {
	background-position: -225px 0;
}

#boeken a:active {
	background-position: -450px 0;
}

#cddvd a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-cddvd.jpg") 0
		0 no-repeat;
	float: left;
	margin-left: 5px;
}

#cddvd a:hover {
	background-position: -225px 0;
}

#cddvd a:active {
	background-position: -450px 0;
}

#elektronica a {
	display: block;
	height: 175px;
	width: 225px;
	background:
		url("/ThemaOpdracht5/elements/images/Category-elektronica.jpg") 0 0
		no-repeat;
	float: left;
	margin-left: 5px;
}

#elektronica a:hover {
	background-position: -225px 0;
}

#elektronica a:active {
	background-position: -450px 0;
}

#gaming a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-gaming.jpg") 0
		0 no-repeat;
	float: left;
	margin-top: 5px;
	no-repeat;
}

#gaming a:hover {
	background-position: -225px 0;
}

#gaming a:active {
	background-position: -450px 0;
}

#hobby a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-hobby.jpg") 0
		0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#hobby a:hover {
	background-position: -225px 0;
}

#hobby a:active {
	background-position: -450px 0;
}

#huishoud a {
	display: block;
	height: 175px;
	width: 225px;
	background:
		url("/ThemaOpdracht5/elements/images/Category-huishoudelijk.jpg") 0 0
		no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#huishoud a:hover {
	background-position: -225px 0;
}

#huishoud a:active {
	background-position: -450px 0;
}

#kleding a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-kleding.jpg")
		0 0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#kleding a:hover {
	background-position: -225px 0;
}

#kleding a:active {
	background-position: -450px 0;
}

#meubels a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-meubels.jpg")
		0 0 no-repeat;
	float: left;
	margin-top: 5px;
}

#meubels a:hover {
	background-position: -225px 0;
}

#meubels a:active {
	background-position: -450px 0;
}

#sport a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-sport.jpg") 0
		0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#sport a:hover {
	background-position: -225px 0;
}

#sport a:active {
	background-position: -450px 0;
}

#vervoer a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/Category-vervoer.jpg")
		0 0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#vervoer a:hover {
	background-position: -225px 0;
}

#vervoer a:active {
	background-position: -450px 0;
}

#overig a {
	display: block;
	height: 175px;
	width: 225px;
	background: url("/ThemaOpdracht5/elements/images/overig.jpg");
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.spacer {
	padding-top: 50px;
	font-size: 18px;
	font-family: 'Lobster', cursive;
}

/* All Auctions */
.description {
	height: 75px;
	margin-bottom: 10px;
	overflow: scroll;
}

.crop {
	width: 128px;
	height: 128px;
	overflow: hidden;
}

.crop img {
	width: 128px;
	height: 128px;
}

.mediabox {
	width: 128px;
	height: 128px;
	float: left;
	margin-right: 10px;
}

.title {
	-o-text-overflow: ellipsis; /* Opera */
	text-overflow: ellipsis; /* IE, Safari (WebKit) */
	overflow: hidden; /* don't show excess chars */
	white-space: nowrap; /* force single line */
	width: 235px; /* fixed width */
}

.descrip {
	-o-text-overflow: ellipsis; /* Opera */
	text-overflow: ellipsis; /* IE, Safari (WebKit) */
	overflow: hidden; /* don't show excess chars */
	height: 100px;
	width: 235px; /* fixed width */
}

.imagepanelallauc {
	width: 200px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.padding {
	margin-bottom: 10px;
}

/* Specefic Actions */

.bittoright{
	margin-left: 15px;
	margin-top: 10px;
}

.titleinfo {
	float: left;
	background-color: red;
	height: 256px;
	width: 500px;
	margin-left: 35px;
}

.imagepanel {
	float: left;
	background-color: blue;
	width: 256px;
	height: 256px;
	margin-left: 35px;
}

.imagepanel img {
	max-width: 256px;
	max-height: 256px;
	top: 50%;
	left: 50%;
	margin: auto;
}

.whitespace {
	background-color: gray;
	height: 75px;
}

.descriptionpanel {
	float: left;
	height: 550px;
	width: 1100px;
	background-color: yellow;
	margin-left: 35px;
}

.bidspanel {
	float: right;
	width: 275px;
	height: 256px;
	background-color: orange;
	margin-right: 35px;
}

.currentbids {
	height: 186px;
	background-color: green;
}

.makebid {
	height: 70px;
	background-color: pink;
}

/* Add Credits */

.addfunds{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* Admin */
.adminbieding{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.showMeerBids {
	list-style-type: none;
}

.auctionDiv{
	cursor: pointer;
}

.auctionDiv:hover{
	background: #FAFBFC;
}

.clickableRow{
	cursor: pointer;
}