<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<init-param>
		<param-name>huiswerknakijken.hu</param-name>
		<param-value>THO7HuiswerkNakijken</param-value>
	</init-param>



	<servlet>
		<servlet-name>LeerlingRegistratieServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.LeerlingRegistratieServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeerlingRegistratieServlet</servlet-name>
		<url-pattern>/LeerlingRegistratieServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeerlingImporteerServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.LeerlingImporteerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeerlingImporteerServlet</servlet-name>
		<url-pattern>/LeerlingImporteerServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SpecifiekeLeerlingServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.SpecifiekeLeerlingServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpecifiekeLeerlingServlet</servlet-name>
		<url-pattern>/SpecifiekeLeerlingServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeerlingOverzichtServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.LeerlingOverzichtServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeerlingOverzichtServlet</servlet-name>
		<url-pattern>/LeerlingOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HuiswerkMakenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.HuiswerkMakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiswerkMakenServlet</servlet-name>
		<url-pattern>/HuiswerkMakenServlet.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LeraarRegistratieServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.LeraarRegistratieServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeraarRegistratieServlet</servlet-name>
		<url-pattern>/LeraarRegistratieServlet.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.LoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchLeerlingenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.SearchLeerlingenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchLeerlingenServlet</servlet-name>
		<url-pattern>/SearchLeerlingenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NieuwWachtwoordServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.NieuwWachtwoordServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NieuwWachtwoordServlet</servlet-name>
		<url-pattern>/NieuwWachtwoordServlet.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.LogoutServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MultipleChoiceAanmakenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.MultipleChoiceAanmakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MultipleChoiceAanmakenServlet</servlet-name>
		<url-pattern>/MultipleChoiceAanmakenServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HuiswerkAanmakenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.HuiswerkAanmakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiswerkAanmakenServlet</servlet-name>
		<url-pattern>/HuiswerkAanmakenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HuiswerkAanmaken</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.HuiswerkAanmaken
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiswerkAanmaken</servlet-name>
		<url-pattern>/HuiswerkAanmaken.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OpenVraagAanmakenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.OpenVraagAanmakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenVraagAanmakenServlet</servlet-name>
		<url-pattern>/OpenVraagAanmakenServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeraarOverzichtServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.LeraarOverzichtServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeraarOverzichtServlet</servlet-name>
		<url-pattern>/LeraarOverzichtServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemoveHuiswerkServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.RemoveHuiswerkServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveHuiswerkServlet</servlet-name>
		<url-pattern>/RemoveHuiswerkServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HuiswerkOverzichtServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.HuiswerkOverzichtServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiswerkOverzichtServlet</servlet-name>
		<url-pattern>/HuiswerkOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>HuiswerkNakijkenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.HuiswerkNakijkenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiswerkNakijkenServlet</servlet-name>
		<url-pattern>/HuiswerkNakijkenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VraagMakenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.VraagMakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VraagMakenServlet</servlet-name>
		<url-pattern>/VraagMakenServlet.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>OverzichtLeerlingenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.OverzichtLeerlingenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OverzichtLeerlingenServlet</servlet-name>
		<url-pattern>/OverzichtLeerlingenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>KlasMakenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.KlasMakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KlasMakenServlet</servlet-name>
		<url-pattern>/KlasMakenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VakAanmakenServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.VakAanmakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VakAanmakenServlet</servlet-name>
		<url-pattern>/VakAanmakenServlet.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>VakkenOverzichtServlet</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.VakkenOverzichtServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VakkenOverzichtServlet</servlet-name>
		<url-pattern>/VakkenOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>VakSpecifiek</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.VakSpecifiek
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VakSpecifiek</servlet-name>
		<url-pattern>/VakSpecifiek.do</url-pattern>
	</servlet-mapping>
	
				<servlet>
		<servlet-name>AddClassToCourse</servlet-name>
		<servlet-class>huiswerknakijken.hu.Servlets.AddClassToCourse
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClassToCourse</servlet-name>
		<url-pattern>/AddClassToCourse.do</url-pattern>
	</servlet-mapping>
</web-app>